include _head.jade

- var path = "/docs/views/build/"

body.page-layout-docs
	.backdrop

	header.mobile-docs-navigation
		a.logo(href = "welcome.html")
			img(src="#{image_base}logo.png")

		.mobile-navigation-toggle
			span
			span
			span
			span

	header.docs-navigation
		a.logo(href = "welcome.html")
			img(src="#{image_base}logo.png")

		ul.docs-navigation-primary-links
			li
				a(href='#{path}index.html') Getting Started
				ul.sub-navigation
					li
						a(href='#installing') Installing Barebones
					li
						a(href='#requirements') Requirements
					li
						a(href='#support') Support
					li
						a(href='#background') Background Reading

			li
				a(href='#{path}settings.html') Settings
				ul.sub-navigation
					li
						a(href='#colours') Colours
					li
						a(href='#fonts') Fonts
					li
						a(href='#grid') Grid
					li
						a(href='#{path}index.html') Breakpoints
					li
						a(href='#{path}index.html') Sizes
					li
						a(href='#{path}index.html') Layers
			li
				a(href='#{path}grid.html') Grid
				ul.sub-navigation
					li
						a(href='#generator') Grid Generator
					li
						a(href='#{path}index.html') Helpers
			li
				a(href='#{path}mixins.html') Mixins
				ul.sub-navigation
					li
						a(href='#arrow') Arrow
					li
						a(href='#placeholder') Placeholder
					li
						a(href='#uppercase') Uppercase
					li
						a(href='#containers') Containers
					li
						a(href='#clearfix') Clearfix
					li
						a(href='#ellipsis') Ellipsis
					li
						a(href='#clearfix') Media Queries
					li
						a(href='#containers') No Bullet
					li
						a(href='#clearfix') Vertical Align
			li
				a(href='#{path}helpers.html') Helpers
				ul.sub-navigation
					li
						a(href='#background') Background Color
					li
						a(href="") Position
					li
						a(href='#borders') Borders
					li
						a(href='#margins') Margins & Padding
					li
						a(href='#{path}index.html') Layout
					li
						a(href='#{path}index.html') Typography

					li
						a(href='#{path}index.html') Visibility


	block body